/* 
    Title: global.css
    Author: Alex Scutchfield
    Date: 3/24/22
    Description: Setting the styling of the home link
*/

.return-home {
    color: #4F3674;
    text-decoration: none;
}

.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.return-home:visited {
    color: #3C275A;
}

.app-header {
    text-align: center;
}

.card-title {
    text-align: center;
    color: #453674;
}

.card-content {
}