<!--
    Title: scutchfield-exercise2.html
    Author: Alex Scutchfield
    Date: 3/24/22
    Description: Setting up a click listener using javascript
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WEB 231 - Enterprise JavaScript Exercise 2.2</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="global.css" />
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>