/* 
    Title: scutchfield-alphabet.css
    Author: Alex Scutchfield
    Date: 5/8/22
    Description: Styling the alphabet game
*/


html {
    font-family: Oswald, Verdana, Arial, san-serif;
  }
  
  #container {
    width: 600px;
    margin: auto;
  }
  
  #btnDisplaySequence {
    width: 100%;
    border-radius: 5px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4F3674;
    color: white;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
  }

  td {
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
  }

  tr:hover {
    background-color: #D6A800;
    color: #4F3674;
    cursor: pointer;
  }
